@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0); /* Финал: возвращается на место */
    }
}

body{
    background-image: url(images/texture.png);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity: 0;
    transform: translateY(40px); /* Исходная точка: смещен вниз */
    animation: fadeInUp 0.8s ease forwards;

}

.scene {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.envelope{
    padding-top: 400px;
}

.lang-btn {
    width: 200px;          /* ширина */
    height: 80px;          /* высота */
    margin: 10px;

    font-size: 40px;
    font-style: italic;
    font-weight: bold;       /* размер текста */

    border-width: 5px;
    border-color: black;
    border-radius: 20px;

    background-color: white;
    color: black;

    cursor: pointer;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 200px;
}

.lang-btn:hover{
    background-color: #000;
    color: #fff;
}

.letter {
    position: relative;           /* Важно! */
    display: inline-block;        /* или block */
    padding-top: 150px;
}

.main-letter {
    display: block;
}

/* Текст поверх изображения */
.text-overlay {
    position: absolute;           /* Главное изменение */
    top: 40%;                     /* центр по вертикали */
    left: 50%;                    /* центр по горизонтали */
    transform: translate(-50%, -50%); /* точное центрирование */
    text-align: center;
    width: 100%;
    padding: 0 40px;              /* отступы по бокам */
    pointer-events: none;         /* чтобы клики проходили сквозь текст */
}

.text-overlay h1 {
    font-size: 140px;
    font-weight: 400;
    font-style: normal;
    font-family: "Ballet", cursive;
    color: #9b1c01;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* тень для читаемости */
    margin: 0;
}

.text-overlay h2 {
    font-size: 55px;
    font-weight: 400;
    font-style: normal;
    font-family: "Playfair Display", serif;
    color: #9b1c01;
    margin: 0;
}

.text-overlay h3 {
    padding-top: 40px;
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
    font-family: "Playfair Display", serif;
    color: #9b1c01;
    margin: 0;
}

.letter2{
    position: relative;           /* Важно! */
    display: inline-block;        /* или block */
    padding-top: 150px;
}

.text-overlay2 {
    position: absolute;           /* Главное изменение */
    top: 31%;                     /* центр по вертикали */
    left: 50%;                    /* центр по горизонтали */
    transform: translate(-50%, -50%); /* точное центрирование */
    text-align: center;
    width: 100%;
    padding: 0 40px;              /* отступы по бокам */
    pointer-events: none;         /* чтобы клики проходили сквозь текст */
}

.text-overlay2 h1 {
    font-size: 150px;
    font-weight: 400;
    font-style: normal;
    font-family: "Ballet", cursive;
    color: #9b1c01;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* тень для читаемости */
    margin: 0;
}

.text-overlay2 h3 {
    font-size: 37px;
    font-weight: 400;
    font-style: italic;
    font-family: "Playfair Display", serif;
    color: #9b1c01;
    margin-top: -60px;
}

.overlay-image {
    position: absolute;
    top: 52%;                    /* ← Главное значение! Чем больше — тем ниже */
    left: 50%;
    transform: translateX(-50%);              
    height: auto;
    z-index: 2;
}

.calendar {
    position: absolute;
    top: 68%;           /* подбери под свою картинку */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;      /* выравнивание по центру по вертикали */
    gap: 18px;                /* расстояние между иконкой и текстом */
    z-index: 4;
}

.calendar i{
    font-size: 2.8rem;   /* размер иконки */
    color: #c69c6d;      /* цвет — подбери под дизайн */
    flex-shrink: 0;
}

.calendar-text {
    text-align: left;
    line-height: 1.3;
}

.calendar-text h3 {
    margin: 0;
    font-size: 1.8rem;
    color: #9b1c01;
    white-space: nowrap;
}

.time {
    position: absolute;
    top: 72%;           /* подбери под свою картинку */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;      /* выравнивание по центру по вертикали */
    gap: 18px;                /* расстояние между иконкой и текстом */
    z-index: 4;
}

.time i{
    font-size: 2.8rem;   /* размер иконки */
    color: #c69c6d;      /* цвет — подбери под дизайн */
    flex-shrink: 0;
}

.time-text {
    text-align: left;
    line-height: 1.3;
}

.time-text h3 {
    margin: 0;
    font-size: 1.8rem;
    color: #9b1c01;
    white-space: nowrap;
}

.location {
    position: absolute;
    top: 76%;           /* подбери под свою картинку */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;      /* выравнивание по центру по вертикали */
    gap: 18px;                /* расстояние между иконкой и текстом */
    z-index: 4;
}

.location i{
    font-size: 1.8rem;   /* размер иконки */
    color: #c69c6d;      /* цвет — подбери под дизайн */
    flex-shrink: 0;
    margin-top: -40px;
}

.location-text {
    text-align: center;
    line-height: 1.3;
}

.location-text h3 {
    margin: 0;
    font-size: 1.8rem;
    color: rgb(0, 0, 85);
    white-space: nowrap;
}

.location-link {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

.location-link:active {
    background-color: #fbefda;
    transform: none;
}

.location-link:active i {
    color: #9b1c01;           /* тёмно-красный */
}

.location-link:active .location-text h3,
.location-link:active .location-text p {
    color: #9b1c01;           /* или любой другой цвет */
}

h4 {
    position: absolute;           /* Главное изменение */
    top: 87%;                     /* центр по вертикали */
    left: 50%;                    /* центр по горизонтали */
    transform: translate(-50%, -50%); /* точное центрирование */
    text-align: center;
    width: 100%;
    padding: 0 40px;              /* отступы по бокам */
    pointer-events: none;   
    font-size: 37px;
    font-weight: 400;
    font-style: italic;
    font-family: "Playfair Display", serif;
    color: #9b1c01;
    margin: 0;
}

h5 {
    position: absolute;           /* Главное изменение */
    top: 84%;                     /* центр по вертикали */
    left: 50%;                    /* центр по горизонтали */
    transform: translate(-50%, -50%); /* точное центрирование */
    text-align: center;
    width: 100%;
    padding: 0 40px;              /* отступы по бокам */
    pointer-events: none;   
    font-size: 37px;
    font-weight: 400;
    font-style: italic;
    font-family: "Playfair Display", serif;
    color: #9b1c01;
    margin: 0;
}